# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Environment variables & secrets
.env

# Streamlit run cache
.streamlit/secrets.toml